@import "tailwindcss";
@import "../styles/theme.css";

/* Base styles */
@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-sans);
  }
}
